.header {
  padding-top: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #50567c;
  position: fixed;
  width: 100%;
  top: 0;
  background: #232c5b;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-container {
  padding-left: 26px;
  padding-right: 26px;

  @include media(desktop) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    justify-content: center;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    gap: 77px;
  }
}

.nav-list-link {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;

  &:hover {
  }
}

.nav-btn {
  background-color: transparent;
  width: 24px;
  height: 24px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 24px;
  height: 24px;

  @include media(desktop) {
    display: none;
  }
}
